//Paleta de color

$color1 : #4C7520;
$color2 : #C0D028;
$color3 : #88AC2E;
$colorComp : #2980b9;

//Media queries

$breakpoints : (
        s  : 480px,
        m  : 640px,
        l  : 1024px,
        xl : 1440px
);

//Estilos generales

@import "components/normalize";

//Components

@import "components/main-menu";

nav.main-nav{
  position: fixed;
}

@import "components/headerArticle";

//Comentarios

.coments-container{
  width: 90%;
  margin: auto;
  max-width: 900px;
}