extends templates/template

block menu
  nav.main-nav
    ul.main-menu
      li: a(href="index.html").active Inicio
      li: a(href="#") Articulos
      li: a(href="#") Sobre mi
      li: a(href="#") Contacto
    .search
      input(type="text" name="search" value="Buscar...").search__input
      .icon-search.search__icon
      //input(type="submit").icon-search.search__icon

block gridInputs
  main#main-blog.grid-blog
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="html/blogInputs/articulo_1.html").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...
    .blog-input
      img(src="img/blog.jpeg").blog-input__img
      h3.blog-input__title Operación 16-15-2017
      p.blog-input__copy Cum galatae crescere, omnes stellaes aperto magnum, camerarius cedriumes. onus trabems, tanquam peritus magister. studere saepe ducunt ad nobilis rumor. mirabilis, fidelis orgias sed mire demitto de azureus, gratis lura.
      a(href="#").blog-input__button Seguir leyendo...

  .paginas

block footer


