nav.main-nav
  label(for="menu").icon-menu
  input(id="menu" type="checkbox").check
  ul.main-menu
    li: a(href="../../index.html") Inicio
    li: a(href="../articles/articles.html") Articulos
    li: a(href="../about/about.html") Sobre mi
    li: a(href="contact.html").active Contacto
  form.search
    input(type="text" name="search" placeholder="Buscar...").search__input
    input(id = "buscar" type = "submit").search__submit
    label(for="buscar").icon-search.search__icon