//
   Created by Daniel on 24/02/2017.

doctype html
html(lang="es")
  head
    title Primera entrada del Blog
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

    link(href="https://fonts.googleapis.com/css?family=Arima+Madurai|Roboto" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet")
    link(href="https://file.myfontastic.com/F3BqZShwjqEehCviZBwyBm/icons.css" rel="stylesheet")

    link(rel="stylesheet" href="../../css/mainBlogInput.css")

    script(src="js/jquery-3.1.1.min.js" type="text/javascript")
  body
    include block-menu
    block header
    block content
    .coments-container
      include block-disqus