extends templates/templateBlogInput

block header
  header
    a(href="../../img/operativas/08-03-2017.png")
      img(src="../../img/operativas/08-03-2017.png")
    h1.tittle Operativa Dow Jones 08/03/2017
    
block content
  .contenido
    p En la apertura, el precio se choca con una resistencia anterior e inicia un impulso a la baja. Aparecen unas velas de rango estrecho con volumen sin desplazar, lo que preveía un retroceso como mínimo. Finalmente lo hace y vuelve a testear el volumen de apertura, definiendo así, un claro lateral.

    p Termina rompiendo el rango por abajo, haciendo un pullback que no pude aprovechar, pensando que podría ser una ruptura falsa. A partir de aquí busco retrocesos del impulso bajista y entro corto en el C con re-acumulación. La operación evoluciona rápidamente a mi favor y cierro muy precipitado en mínimos. A continuación rompe el soporte(cierre del día anterior) y hago una segunda operación apostando por una continuidad bajista. Esto no se produce y me cierra antes de tiempo, por el spread de los CFDs.

    .resultado