extends templates/templateBlogInput

block header
  header
    a(href="../../img/operativas/09-03-2017.png")
      img(src="../../img/operativas/09-03-2017.png")
    h1.tittle Operativa DAX 09/03/2017
    
block content
  .contenido
    p Al inicio de la sesión, el precio se choca con una zona de soporte clara anterior, e inicia un impulso al alza. Espero al retroceso en la zona fijada y entro en el mini A. Finalmente me cierra en Break-even, ya que baja a hacer un mini C. Entro de nuevo en este C con un secado del volumen en zona y sale bien (a-b-c de libro). A partir de aquí, baja nuevamente a la zona clave de la sesión pero con demasiada fuerza. No me atrevo aunque no era mala; muchas velas intentando superar la zona sin ningún resultado preveían un nuevo tramo al alza.

    p A continuación el precio rompe la zona importante con volumen, y entro en un pullback(retroceso) a la zona. Resulta ser un engaño de las manos fuertes y me cierra el Stop Loss. Después de esto se ha iniciado una tendencia al alza con poca oportunidad de entrar(quizás en el a-b-c), y decido mantenerme al margen.

    p <strong> Conclusión: </strong>Sesión un poco lateral, con alguna oportunidad y un engaño. Sabor amargo por la última pero creo que he entendido bien el mercado.

    .resultado