header{
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
  
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: darken(rgba($color1,.7),20);
  }

  img{
    display: block;
    height: 100vh;
    width: 100%;
    min-width: 1500px;
    opacity: .6;
  }

  .header-title__container{
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 70%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    h1.header__title{
      color: $colorComp;
      margin-bottom: 2em;
      font-size: 3em;
      font-family: 'roboto';
    }
    
    p.header__copy{
      text-align: justify;
      text-indent: 25px;
    }
  }

  .header-continue{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    
    .continue__title{
      color: $color2;
      font-size: 2em;
      margin-bottom: 5px;
    }
    
    a.continue__button{
      $flechaW : 5px;

      display: block;
      width: $flechaW*10;
      height: $flechaW*10;
      border-right: $flechaW solid red;
      border-bottom: $flechaW solid red;

      animation: botar .8s ease-in infinite alternate;
    }
  }
}

@keyframes botar {
  from{
    transform: translateY(0) rotate(45deg);
  }
  to{
    transform: translateY(-20px) rotate(45deg);
  }
}
