header{
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 100%;
  
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: darken(rgba($color1,.7),20);
  }

  img{
    display: block;
    height: 100vh;
    width: 100%;
    min-width: 1500px;
    opacity: .6;
  }

  .header-title__container{
    color: #FFF;
    position: absolute;
    text-align: center;
    width: 70%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    h1.header__title{
      color: $colorComp;
      margin: 0;
      text-shadow: 0 0 20px darken($colorComp,20);
      margin-bottom: 70px;
      letter-spacing: .2em;
      text-transform: uppercase;
      font-size: 4em;
      font-family: 'roboto', sans-serif;
    }
    
    p.header__copy{
      color: $color1;
      padding: .9em;
      margin: auto;
      max-width: 500px;
      background-color: rgba(#FFF,.8);
      box-shadow: 0 0 10px 2px #FFF;
      text-align: justify;
      text-indent: 25px;
      line-height: 1.2em;
      font-family: 'Pangolin',sans-serif;
    }
  }

  .header-continue{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    
    .continue__title{
      color: $color2;
      font-size: 2em;
      margin-bottom: 10px;
    }
    
    a.continue__button{
      position: relative;
      color: red;
      font-size: 5em;
      height: 50px;
      overflow: hidden;
      animation: botar .8s ease-in infinite alternate;
    }
  }
}

@keyframes botar {
  from{
    top: 0;
  }
  to{
    top:-20px;
  }
}
