//Distribuación general y buscador

$heightNav : 50px;

nav.main-nav.fixed{
  position: fixed;
  top: 0;
  left: 0;

}

nav.main-nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $heightNav;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $color3;
  transition: all 60s;
  box-shadow: 0 5px 10px 0 rgba($color3,.7);
  
  .search{
    display: flex;
    align-items: center;

    &__submit{
      display: none;
    }

    &__input{
      height: 20px;
      border-radius: 10px;
      border: none;
      color: #666;
      font-size: .8em;
      padding-left: 1em;
      letter-spacing: 2px;
    }
    
    &__icon{
      color: #FFF;
      margin: 0 20px;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}

//Menu normal

nav ul.main-menu{
  width: 50%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;

  
  li{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    list-style: none;
    border-right: 1px solid white;

    a{

      display: block;
      height: 100%;
      line-height: 3em;
      text-decoration: none;

      color: #FFF;

      &:hover{
        background: #FFF;
        color: $color3;
      }
    }
    
    a.active{
      background: #FFF;
      color: $color3;
    }
  }

}

// Menu desplegable

nav input.check{
  display: none;
}

nav .icon-menu {
  display: none;
  color: #FFF;
  font-size: 2em;
  line-height: 1.5em;
  margin-left: 15px;
  cursor: pointer;
}

@media screen and (max-width: map_get($breakpoints,m)){
  nav .icon-menu{
    display: block;
  }
  nav ul.main-menu {
    li{
      border: none;
      border-bottom: 1px solid #FFF;
    }
    position: absolute;
    flex-direction: column;
    background-color: rgba($color3,.8);
    top: 40px;
    left: -81%;
    width: 80%;
    transition: all .4s;
  }
  nav input.check:checked + ul.main-menu{
    left: 0;
  }
}