
nav.main-nav{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $color3;
  
  .search{
    display: flex;
    align-items: center;

    &__input{
      height: 20px;
      border-radius: 10px;
      border: none;
      color: #666;
      font-size: .8em;
      padding-left: 1em;
      letter-spacing: 3px;
    }
    
    &__icon{
      color: #FFF;
      margin: 0 20px;
      font-size: 1.2em;
    }
  }
}
nav ul.main-menu{
  width: 50%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;

  
  li{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    list-style: none;
    border-right: 1px solid white;

    a{

      display: block;

      line-height: 3em;
      text-decoration: none;

      color: #FFF;

      &:hover{
        background: #FFF;
        color: $color3;
      }
    }
    
    a.active{
      background: #FFF;
      color: $color3;
    }
  }

}