//
   Created by Daniel on 15/02/2017.

doctype html
html(lang="es")
  head
    title Blog Trading | Alberto Rodríguez
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

    link(href="https://fonts.googleapis.com/css?family=Arima+Madurai|Roboto" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet")
    link(href="https://file.myfontastic.com/F3BqZShwjqEehCviZBwyBm/icons.css" rel="stylesheet")

    link(rel="stylesheet" href="css/mainStyles.css")

    script(src="js/jquery-3.1.1.min.js" type="text/javascript")
  body
    block menu
    header
      img(src='img/portada.jpeg' alt='imagen de trading')
      .header-title__container
        h1.header__title Trading de barrio
        p.header__copy Subiré mi operativa diaria en los indices DAX 30 y Mini Dow Jones. Comentando la sesión conforme a mi visión del mercado, así como las operaciones que haya podido realizar. Método basado en el seguimiento de precio y volumen.
      .header-continue
        .continue__title Ver operativas
        a(href='#main-blog').icon-down.continue__button

    block gridInputs
    block footer

    script(src="js/anchor.js")

